<div class="container">
  <h1>My Reservations</h1>
  <div>
    <% @my_bookings.each do |booking| %>
      <div class="card">
        <p>game: <%= booking.game.name %></p>
        <p>owner : <%= booking.game.user.username %></p>
        <p>starting date : <%= booking.starting_date %></p>
        <p>ending date : <%= booking.ending_date %></p>
       
      </div>
    <% end %>
  </div>
</div>