<div class="footer">
  <div class="socials">
  <a href="#"><i class="fab fa-facebook-square"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="mentions">
    <a class="border-rigth" href="#">Mentions Légales</a>
    <a href="#">Contact</a>
  </div>
</div>