<div class="footer">
  <div class="socials container">
  <a href="#"><i class="fab fa-facebook-square"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
    <p class="mentions">Made with passion by the eVolve team.</p>
</div>
