<p>---------------------</p>
<% @games.each do |game| %>
<h3><%= game.name %></h3>
<%= link_to "edit", edit_account_game_path(game)  %>
<%= link_to "delete", account_game_path(game), method: :delete %>
<% end %>
