.btn_nav {
  background: transparent;
  border: 0.12rem solid white;
  border-radius: 1rem;
  padding: 10px 40px;
  color: white;
  margin: 20px;
  margin-right: 100px;
    :hover {
      color: white;
    }
}
