.card_header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin-bottom: 50px;
  margin-top: 35px;
}

.card_category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border: solid;
  border-color: grey;
  border-radius: 10px;


    &:hover {
    filter: grayscale(1);
    -webkit-filter: grayscale(0.8);
    text-decoration: none;
    transition: 250ms linear;
  }
}


.title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  max-width: 80%;
  font-size: 12px;
}

.platform {
  position: absolute;
  left: 10px;
  bottom: 60px;
  border-bottom: solid;
  font-size: 15px;
  margin-right: 10px;
}

.price {
  position: absolute;
  top: 7px;
  right: 7px;
  border: solid;
  border-radius: 0 0 0 50px;
  padding-left: 20px;
  background-color: #416C73;
  border-color: #416C73;
  color: white;
}

ul{
  list-style-type: none;
  }
