.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 50px;
  :hover {
    text-decoration: none;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  -webkit-filter: grayscale(0);
}


.title {
  position: absolute;
  left: 10px;
  bottom: 10px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
  max-width: 80%;
  font-size: 12px;
}

.platform {
  position: absolute;
  left: 10px;
  bottom: 60px;
  border-bottom: solid;
  font-size: 15px;
  margin-right: 10px;
}

.price {
  position: absolute;
  top: 7px;
  right: 7px;
  border: solid;
  border-radius: 0 0 0 50px;
  padding-left: 20px;
  background-color: #416C73;
  border-color: #416C73;
  color: white;
}

ul{
  list-style-type: none;
  }
